.sideContainer {
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(156, 156, 156);
}

.linkContain li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.linkContain svg {
    margin: 0 10px;
}

.linkContain button {
    padding: 10px 30px;
    margin: 0 20px;
    border: none;
    font-weight: 600;
}

.hr{
    height: 1px;
    background: #b6b6b6;
    width: 90%;
    margin: 10px auto;
}

.friend-list{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friend{
    display: flex;
    align-items: center;
}

.friend-list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.friend-list p{
    font-size: 18px;
    margin: 0 10px;
}